<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <table>
        <tr>
            <th>default_currency_id</th>
            <th>id</th>
            <th>name</th>
        </tr>
    <% data.forEach(function(data){ %>
        <tr>
            <td><%- data.default_currency_id %></td>
            <td><%- data.id %></td>
            <td><%- data.name %></td>
          </tr>
      <% }); %>
    </table>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>