<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>Volume de itens</th>
    </tr>
    <tr>
    <% for(var item in datacategorie.children_categories){%> 
        <td><%= datacategorie.children_categories[item].id%></td>
        <td><%= datacategorie.children_categories[item].name%></td>
        <td><%= datacategorie.children_categories[item].total_items_in_this_category%></td>
    <% } %>
    </tr>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>