<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        <% for(var i=0; i < data.length; i++) { %>
        <tr>
        <td><%= data[i].id %></td>
        <td><%= data[i].name %></td>
        </tr>
        <% } %>
    </table>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>