<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <h2>Termos mais buscados</h2>
    <% datatrends.forEach(function(datatrends){ %>
        <ul>
            <li><a href="/categories/<%- datatrends.url %>"><%- datatrends.keyword %></a></li>
        </ul>
      <% }); %>

</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>