<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <table>
    <tr>
        <th>posição</th>
        <th>id</th>
        <th>tipo</th>
    </tr>
    <% for(var item in datamais.content){%>
        <tr>
            <td>
                <%= datamais.content[item].position%>
            </td>
            <td>
                <%= datamais.content[item].id%>
            </td>
            <td>
                <a href="<% if (datamais.content[item].id == 'ITEM') { %>
                    /items/<%= datamais.content[item].id%>
                <% } else { %>
                    /products/<%= datamais.content[item].id%>
                <% } %>
                    ">
                    <%= datamais.content[item].type%>
                </a>
            </td>
        </tr>
        <% } %>
    </table>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>