<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>preço</th>
            <th>categoria</th>
            <th>reputação</th>
        </tr>
        <tr>
            <td><%- dataitem.id %>&nbsp;&nbsp;&nbsp;</td>
            <td><a href="<%- dataitem.permalink %>"><%- dataitem.title %></a>&nbsp;&nbsp;&nbsp;</td>
            <td><%- dataitem.price %>&nbsp;&nbsp;&nbsp;</td>
            <td><%- dataitem.category_id %>&nbsp;&nbsp;&nbsp;</td>
            <td><%- dataitem.listing_type_id %>&nbsp;&nbsp;&nbsp;</td>
          </tr>
    </table>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>