<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
        <ul>
            <li>id: <%- dataitem.id %>;</li>
            <li><a href="<%- dataitem.permalink %>"><%- dataitem.title %></a></li>
            <li>preço: <%- dataitem.price %></li>
            <li>id categoria:<%- dataitem.category_id %></li>
            <li>unidade vendidades:<%- dataitem.sold_quantity %></li>
            <a href="/visits/items/<%= dataitem.id %>">clicks</a>
            <hr>
            <li>início do período de vendas:<%- dataitem.start_time %></li>
            <li>término do período de vendas:<%- dataitem.stop_time %></li>
        </ul>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>