<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
        <ul>
            <li><%- dataitem.id %>&nbsp;&nbsp;&nbsp;</li>
            <li><a href="<%- dataitem.permalink %>"><%- dataitem.title %></a>&nbsp;&nbsp;&nbsp;</li>
            <li><%- dataitem.price %>&nbsp;&nbsp;&nbsp;</li>
            <li><%- dataitem.category_id %>&nbsp;&nbsp;&nbsp;</li>
            <li><%- dataitem.listing_type_id %>&nbsp;&nbsp;&nbsp;</li>
        </ul>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>