<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
        <ul>
            <li><%- dataitem.id %>;</li>
            <li><srong><a href="<%- dataitem.permalink %>"><%- dataitem.title %></a></srong></li>
            <li><%- dataitem.price %></li>
            <li><%- dataitem.category_id %></li>
            <li><%- dataitem.listing_type_id %></li>
        </ul>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>