<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <p>paginação:total:<%= dataitems.paging.total%>,offset:<%= dataitems.paging.offset%>,limit:<%= dataitems.paging.limit%></p>
    <table class="table">
    <tr>
        <th scope="col">id</th>
        <th scope="col">nome</th>
        <th scope="col">preço</th>
        <th scope="col">clicks</th>
        <th scope="col">Vendas</th>
        <th scope="col">vendedor</th>        
    </tr>
    <% for(var item in dataitems.results){%>
        <tr>
            <td>
                <%= dataitems.results[item].id%>
            </td>
            <td>
                <a href="<%= dataitems.results[item].permalink%>"><%= dataitems.results[item].title%></a>
            </td>
            <td>
                <%= dataitems.results[item].price%>
            </td>
            <td>
                <a href="/visits/items/<%= dataitems.results[item].id%>">clicks</a>
            </td>
            <td>
                <%= dataitems.results[item].sold_quantity%>
            </td>
            <td>
                <a href="/users/<%= dataitems.results[item].seller.id%>"><%= dataitems.results[item].seller.id%></a>
            </td>
            <td>
                <a href="../highlights/item/<%= dataitems.results[item].id%>">posição</a>"
            </td>
        </tr>
        <% } %>
    </table>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>