<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
        <ul>
            <li>id: <%- dataproduct.id %>;</li>
            <li><a href="<%- dataproduct.permalink %>"><%- dataproduct.name %></a></li>
            <li>preço: <%- dataproduct.price %></li>
            <li>id da categoria: <%- dataproduct.domain_id %></li>
            <li>unidades vendidas: <%- dataproduct.sold_quantity %></li>
            <li>Descrição: <%- dataproduct.short_description.content %></li>
        </ul>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>