<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
        <ul>
            <li><%- datauser.id %>;</li>
            <li><a href="<%- datauser.permalink %>"><%- datauser.nickname %></a></li>
            <li>Poder de venda:<%- datauser.seller_reputation.power_seller_status %></li>
            <li>Nível de reputação:<%- datauser.seller_reputation.level_id %></li>
            <li><%- datauser.seller_reputation.transactions.completed %></li>
        </ul>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>