<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body class="container">

<main>
    <p>Bem vindo à <%= title %>, <b>versão: <%= version %></b></p>
    <br>
    <a href="https://auth.mercadolivre.com.br/authorization?response_type=code&client_id=<%= CLIENT_ID %>&redirect_uri=<%= REDIRECT_URI %>">Entrar</a>
</main>

<footer>
    <%- include('./partials/footer'); %>
</footer>

</body>
</html>